<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lịch sử đơn hàng tùy duyên</title>
  <link rel="stylesheet" href="history.css">
  <link rel="stylesheet" href="../home-page/homepage-user.css">
  <link rel="stylesheet" href="../layout1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="header history">
  <div class="header-logo">
    <a href="../home-page/home-page-user.html"><img src="https://shopeefood.vn/app/assets/img/shopeefoodvn.png?4aa1a38e8da801f4029b80734905f3f7" alt=""></a>
  </div>
</div>

<div class="container">
  <h2 class="order-history-title">Lịch sử đơn hàng</h2>
  <div id="total-revenue-display">
    Tổng doanh thu: <span id="total-revenue-value"></span>
  </div>
  <ul class="order-list" id="order-history-list">
    <li>
      <p>Đang tải lịch sử đơn hàng...</p>
    </li>
  </ul>
</div>

<footer class="footer">
  <div class="line"></div>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Công ty</h3>
      <ul class="footer-links">
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Trung tâm Trợ giúp</a></li>
        <li><a href="#">Quy chế</a></li>
        <li><a href="#">Điều khoản sử dụng</a></li>
        <li><a href="#">Bảo mật thông tin</a></li>
        <li><a href="#">Giải quyết khiếu nại</a></li>
        <li><a href="#">Liên hệ</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Ứng dụng ShopeeFood</h3>
      <div class="app-downloads">
        <a href="https://apps.apple.com/us/app/deliverynow/id1137866760"><img src="https://shopeefood.vn/app/assets/img/AppStore-vn.png?1afe809ef1884945ef4a05dacec7679e" alt="img"></a>
        <a href="https://play.google.com/store/apps/details?id=com.deliverynow&pli=1"><img src="https://shopeefood.vn/app/assets/img/PlayStore-vn.png?a5bc23fd384a415654c9115efebb67db" alt="img"></a>
        <a href="https://appgallery.huawei.com/#/app/C102401853"><img src="https://shopeefood.vn/app/assets/img/Huawei-gallery-vn.png?a17f5e9f3500255a52ec23de20dc115a" alt="img"></a>
      </div>
    </div>
  </div>

  <div class="copyright">
    © 2025 ShopeeFood
  </div>
</footer>

<div class="background-img"></div>
<script src="order-history.js">
</script>
</body>
</html>