<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFFOOD Home</title>
    <link rel="stylesheet" href="./homepage-user.css">
    <link rel="stylesheet" href="../layout1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div class="header">
    <div class="header-logo">
        <img src="https://shopeefood.vn/app/assets/img/shopeefoodvn.png?4aa1a38e8da801f4029b80734905f3f7" alt="">
    </div>
    <a href="../sign-in/sign-in.html" style="font-size: 20px; text-decoration: none">
        >>> Hãy đăng nhập để xem đầy đủ các món ăn <<<
    </a>
    <div class="header-auth">
        <a href="../sign-in/sign-in.html">Đăng nhập</a>
        <a href="../sign-up/sign-up.html">Đăng ký</a>
    </div>
</div>

<div class="hero-section">
    <div class="hero-content">
        <h1 class="hero-greeting">Chào mừng bạn đến với MSLPNH</h1>
        <!--        <p class="hero-question">Bạn muốn tìm địa điểm quán ăn ? </p>-->
        <!--        <input type="text" class="hero-search-input" placeholder="Nhập địa điểm muốn tìm">-->
        <!--        <a class="hero-search-button" href="../sign-in/sign-in.html">Tìm kiếm</a>-->
    </div>
</div>

<div class="offers-section">
    <h2 class="offers-title">Món ăn ở gần bạn</h2>
    <div class="offers-list">
        <a href="#">
            <div class="offer-item">
                Loading best selling items...
            </div>
        </a>
    </div>
    <div class="offers-section offers-categories-section">
        <h2 class="offers-title offers-categories-title">Món ăn ưu đãi</h2>
        <div class="offers-list offers-categories-list">
            <a href="#">
                <div class="offer-item">
                    Loading best selling items...
                </div>
            </a>
        </div>
    </div>
    <div class="offers-section bestselling-section">
        <h2 class="offers-title bestselling-title">Món ăn bán chạy nhất</h2>
        <div class="offers-list bestselling-list">
            <a href="#">
                <div class="offer-item">
                    Loading best selling items...
                </div>
            </a>
        </div>
    </div>
    <div class="offers-section fast-delivery-section">
        <h2 class="offers-title">Món ăn giao nhanh</h2>
        <div class="offers-list fast-delivery-list">
            <a href="#">
                <div class="offer-item">
                    Đang tải món ăn giao nhanh...
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="line"></div>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Công ty</h3>
            <ul class="footer-links">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Trung tâm Trợ giúp</a></li>
                <li><a href="#">Quy chế</a></li>
                <li><a href="#">Điều khoản sử dụng</a></li>
                <li><a href="#">Bảo mật thông tin</a></li>
                <li><a href="#">Giải quyết khiếu nại</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Ứng dụng ShopeeFood</h3>
            <div class="app-downloads">
                <a href="https://apps.apple.com/us/app/deliverynow/id1137866760"><img src="https://shopeefood.vn/app/assets/img/AppStore-vn.png?1afe809ef1884945ef4a05dacec7679e" alt="img"></a>
                <a href="https://play.google.com/store/apps/details?id=com.deliverynow&pli=1"><img src="https://shopeefood.vn/app/assets/img/PlayStore-vn.png?a5bc23fd384a415654c9115efebb67db" alt="img"></a>
                <a href="https://appgallery.huawei.com/#/app/C102401853"><img src="https://shopeefood.vn/app/assets/img/Huawei-gallery-vn.png?a17f5e9f3500255a52ec23de20dc115a" alt="img"></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        © 2025 ShopeeFood
    </div>
</footer>

<div class="background-img"></div>
<script src="homepage.js"></script>

</body>
</html>